.cambio-wrapper {
        
    width: 100%;

    background-color: #0b0031;
    background-image: 
        radial-gradient(circle at -95% -50%, #00000000 46%, transparent 46.05%),
        radial-gradient(circle at 29% -32%, #00000021 51%, transparent 51.05%),
        radial-gradient(circle at -31% 24%, #0000002f 56%, transparent 56.05%),
        linear-gradient(-61deg, #0000004e 37%, transparent 37.05%)
    ;

    color: aliceblue;

    filter: drop-shadow(0 0 1rem black);
    z-index: 0;

    overflow-x: hidden;
}

.cambio {
    margin: auto;

    padding: 2rem;

    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.cambio-subtitle {
    font-size: clamp(1rem, 3.5vw, 1.8rem);
    text-align: justify;
    hyphens: auto;
}

.cambio-container {
    display: none;
}

.cambio .swiper {
    width: 100%;
    height: clamp(140px, 2vw, 300px);

    margin: 1rem 0;
    padding: 0 1rem;
    overflow: visible;
}

.cambio .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.5;

    transform: scale(.8);
}

.cambio .swiper-slide > * {
    height: 100%;
}

.cambio .swiper-slide.swiper-slide-active {
    opacity: 1;
    z-index: 3;
    transform: scale(1);
}

.cambio-item {
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 3rem 1fr ;
    justify-content: space-between;
    gap: .8rem;

    padding: 1.6rem;

    border-radius: 1rem;

    box-shadow: 0 0 1rem aliceblue;

    background-color: aliceblue;
    color: #000000;
}

.cambio-item-icon {
    width: 100%;
}

.cambio-item-icon img {
    height: 100%;
    width: 100%;
}

.cambio-item h2 {
    font-size: clamp(1rem, 4vw, 2.4rem);
    text-align: left;
    font-weight: bold;

    display: flex;
    justify-content: left;
    align-items: center;
}

.cambio-item p {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: clamp(1rem, 3.4vw, 2rem);
    text-align: justify;
    hyphens: auto;
}

.cambio-links {
    align-self: center;
    margin-top: 1.6rem;
}

.cambio-links a {
    background-color: aliceblue;
    color: black;
    font-size: clamp(1rem, 3.5vw, 1.8rem);
}

@media screen and (min-width: 769px) {
    .cambio .swiper {
        display: none;
    }

    .cambio-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 3rem;

        margin: 2rem 0;
    }

    .cambio-item h2 {
        font-size: clamp(1.4rem, 2vw, 2rem);
        height: 33%;
    }

    .cambio-item p {
        font-size: clamp(1.4rem, 2vw, 1.6rem);
    }
}

@media screen and (min-width: 1279px) {
    
    .cambio {
        max-width: 160rem;
    }
    
    .cambio-subtitle {
        font-size: clamp(1.1rem, 2vw, 2rem);
        padding-left: 1rem;
    }
    
    .cambio-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    
        justify-content: center;
    
        padding: 0 1rem;
    }
    
    .cambio-item {
        display: grid;
        grid-template-columns: 6rem 1fr;
        grid-template-rows: 6rem 1fr ;
        justify-content: space-between;
        gap: .8rem;
    
        padding: 1.6rem;
    
        border-radius: 1rem;
    
        box-shadow: 0 0 1rem aliceblue;
    
        background-color: aliceblue;
        color: #000000;

        border: 3px solid aliceblue;

        transition: all ease .3s;
    }
    
    .cambio-item:hover {
        transform: scale(1.1);
        cursor: pointer;

        background-color: unset;
        color: aliceblue;
        box-shadow: 0 0 0 #000;
    }

    .cambio-item-icon {
        width: 4rem;
    }
    
    .cambio-item-icon img {
        filter: 
            drop-shadow(1px 1px aliceblue) 
            drop-shadow(-1px 1px aliceblue)
            drop-shadow(1px -1px aliceblue) 
            drop-shadow(-1px -1px aliceblue)
        ;

        height: 100%;
        width: 100%;
    }
    
    .cambio-item h2 {
        font-size: clamp(1.1rem, 2vw, 1.8rem);
        align-self: center;
        text-align: left;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    
    .cambio-item p {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        font-size: clamp(1.1rem, 2vw, 1.6rem);
        hyphens: auto;
    }
    
    .cambio-links {
        align-self: center;
        margin-top: 1.6rem;
    }
    
    .cambio-links a {
        background-color: aliceblue;
        color: black;
    }

}