.footer-wrapper {
    width: 100%;
    
    background-color: #bce0ff;
    background-image: 
        radial-gradient(circle at -81% -9%, #0000000e 60%, transparent 60.05%),
        radial-gradient(circle at 2% -31%, #00000028 50%, transparent 60.05%),
        radial-gradient(circle at -74% 40%, #00000014 54%, transparent 57.05%),
        linear-gradient(17deg, #00000025 58%, transparent 58.05%)
    ;
    background-attachment: fixed;
    filter: drop-shadow(0 0 1rem black);

    max-width: 120rem;
}

.footer {
    height: 100%;

    padding: 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    gap: 2rem;

    font-size: clamp(1rem, 2vw, 1.6rem);
}

.footer > * {
    width: 100%;
}

.footer-subtitle,
.footer-text {
    text-align: center;
}

.footer-subtitle {
    font-weight: bold;
    letter-spacing: 4px;
}

.footer-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.footer-info > * {
    display: flex;
    width: 100%;
}

.footer-endereco {
    display: flex;
    flex-flow: column;
    row-gap: 2rem;
    align-items: center;
}

.footer-endereco-text {
    display: flex;
}

.footer-endereco iframe {
    width: 90%;

    border-radius: 2rem;
    
    box-shadow: 0 0 1rem black;
}

.footer-cnpj {
    display: flex;
    justify-content: center;
}

.footer-ouvidoria {
    display: flex;
    flex-flow: column;
}
.footer-ouvidoria > * {
    width: 100%;
    text-align: center;
}

.footer-disclaimer {
    font-size: .6rem;
    text-align: justify;
    hyphens: auto;
}

@media screen and (min-width: 1279px) {

    .footer-wrapper {
        width: 100%;
        
        background-color: #bce0ff;
        background-image: 
            radial-gradient(circle at -81% -9%, #0000000e 60%, transparent 60.05%),
            radial-gradient(circle at 2% -31%, #00000028 50%, transparent 60.05%),
            radial-gradient(circle at -74% 40%, #00000014 54%, transparent 57.05%),
            linear-gradient(17deg, #00000025 58%, transparent 58.05%)
        ;
        background-attachment: fixed;
        filter: drop-shadow(0 0 1rem black);
    
        max-width: 120rem;
    
        margin-top: 4rem;
        border-radius: 2rem 2rem 0 0;
    
    }
    
    .footer {
        height: 100%;
    
        padding: 2rem;
    
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    
        gap: 2rem;
    
        font-size: clamp(1rem, 2vw, 1.6rem);
    }
    
    .footer > * {
        width: 100%;
    }
    
    .footer-subtitle,
    .footer-text {
        text-align: center;
    }
    
    .footer-text {
        font-size: 1.8rem;
    }

    .footer-info {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    .footer-info > * {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .footer-info > * > * {
        background-color: aliceblue;
        padding: 1rem;
    }
    .footer-info > * > *:nth-child(1) {border-radius: .8rem 0 0 .8rem;}
    .footer-info > * > *:nth-child(2) {border-radius: 0 .8rem .8rem 0;}
    
    .footer-endereco {
        display: flex;
        flex-flow: column;
        row-gap: 2rem;
        align-items: center;
    }
    
    .footer-endereco-text {
        display: flex;
        background-color: aliceblue;
        border-radius: .8rem;
    }
    .footer-endereco-text > * {
        padding: 1rem;
    }
    
    .footer-endereco iframe {
        width: 70%;
    
        border-radius: 2rem;
        
        box-shadow: 0 0 1rem black;
    }
    
    .footer-cnpj {
        margin: auto;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        background-color: aliceblue;
        padding: 1rem;
        border-radius: .8rem;
        width: fit-content;
    }
    
    .footer-ouvidoria {
        display: flex;
        flex-flow: column;
        gap: 1rem;

        margin-top: 3rem;
    }
    .footer-ouvidoria > * {
        width: fit-content;
        align-self: center;
        text-align: center;
        background-color: aliceblue;
        padding: 1rem;
        border-radius: .8rem;
    }
    
    .footer-disclaimer {
        font-size: 1rem;
        text-align: justify;
        hyphens: auto;
    }

}