.investimentos-wrapper {
    width: 100%;    

    background-color: #23304b;
    background-image: 
        radial-gradient(circle at -65% 97%, #00000017 58%, transparent 58.05%),
        radial-gradient(circle at 88% -81%, #0000002e 52%, transparent 52.05%),
        radial-gradient(circle at -63% 23%, #00000017 57%, transparent 57.05%),
        linear-gradient(51deg, #00000021 50%, transparent 50.05%)
    ;
    color: aliceblue;

    border-top: .6rem ridge black;
    border-bottom: .6rem ridge black;

    overflow-x: hidden;
}

.investimentos {
    margin: auto;
    max-width: 120rem;
    width: 100%;

    padding: 2rem;

    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.investimentos-subtitle {
    font-size: clamp(1.1rem, 2vw, 2rem);
    padding-left: 1rem;
}

.investimentos-container {
    display: none
}

.investimentos-item {
    background-color: aliceblue;
    color: black;

    border: none;
    box-shadow: 0 0 1rem rgb(130, 187, 238);

    border-radius: 1.6rem;

    display: flex;
    flex-flow: column;
}

.investimentos-item h2 {
    flex-grow: 1;
    
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.2rem 1.2rem 0;
}
.investimentos-item p {
    height: 70%;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
}

.investimentos-text {
    font-size: clamp(1.1rem, 2vw, 2rem);
    padding-left: 1rem;
}

.investimentos-links {
    align-self: center;
    margin-top: 1.6rem;
}

.investimentos-links a {
    background-color: aliceblue;
    color: black;
}

@media screen and (min-width: 1279px) {

    .investimentos-wrapper {
        width: 100%;    
    
        background-color: #23304b;
        background-image: 
            radial-gradient(circle at -65% 97%, #00000017 58%, transparent 58.05%),
            radial-gradient(circle at 88% -81%, #0000002e 52%, transparent 52.05%),
            radial-gradient(circle at -63% 23%, #00000017 57%, transparent 57.05%),
            linear-gradient(51deg, #00000021 50%, transparent 50.05%)
        ;
        color: aliceblue;
    
        border-top: .6rem ridge black;
        border-bottom: .6rem ridge black;
    
        margin-top: 2rem;
    }
    
    .investimentos {
        margin: auto;
        max-width: 120rem;
        width: 100%;
    
        padding: 2rem;
    
        display: flex;
        flex-flow: column;
        gap: 1rem;
    }
    
    .investimentos-subtitle {
        font-size: clamp(1.1rem, 2vw, 2rem);
        padding-left: 1rem;
    }
    
    .investimentos-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
    
        font-size: clamp(1.1rem, 2vw, 1.6rem);
    }
    
    .investimentos-item {
        background-color: aliceblue;
        color: black;
    
        border: none;
        box-shadow: 0 0 1rem rgb(130, 187, 238);
    
        border-radius: 1.6rem;
    
        display: flex;
        flex-flow: column;
    }

    .investimentos-item h2 {
        flex-grow: 1;
        
        font-size: 1.8rem;
        text-align: center;
        font-weight: bold;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 1.2rem 1.2rem 0;
    }
    .investimentos-item p {
        height: 70%;
        font-size: 1.2rem;
        text-align: center;
        padding: 1rem;
    }
    
    .investimentos-text {
        font-size: clamp(1.1rem, 2vw, 2rem);
        padding-left: 1rem;
    }
    
    .investimentos-links {
        align-self: center;
        margin-top: 1.6rem;
    }
    
    .investimentos-links a {
        background-color: aliceblue;
        color: black;
    }

}