.sobre-nos-wrapper {
    width: 100%;

    background-color: #1a3266;

    background-color: #23304b;
    background-image: 
        radial-gradient(circle at -90% 100%, #00000029 42%, transparent 42.05%),
        radial-gradient(circle at 0% -32%, #0000000e 45%, transparent 45.05%),
        linear-gradient(-296deg, #00000018 44%, transparent 44.05%)
    ;

    border-top: .3rem solid aliceblue;

    color: aliceblue;
}

.sobre-nos {
    padding: 2rem;

    max-width: 160rem;
    margin: auto;

    display: flex;
    flex-flow: column;

    gap: 1rem;
}

.sobre-nos-container {
    display: flex;
    flex-flow: column;
    align-self: center;
    gap: 1rem;

    font-size: clamp(1rem, 3.5vw, 1.8rem);
    text-align: justify;
    hyphens: auto;
}

.sobre-nos-links {
    align-self: center;
}

.sobre-nos-links a {
    background-color: aliceblue;
    color: black;
    font-size: clamp(1rem, 3.5vw, 1.8rem);
    margin-top: 1rem;
}

@media screen and (min-width: 1279px) {

    .sobre-nos-wrapper {
        border-top: none;
    }

    .sobre-nos {
        height: 100%;
        justify-content: space-around;
    }

    .sobre-nos-title {
        text-align: center;
    }

    .sobre-nos-container {
        gap: 3rem;
        font-size: clamp(1.1rem, 2vw, 2.4rem);
    }
    
    .sobre-nos-links {
        align-self: center;
    }
    
    .sobre-nos-links a {
        margin: 0;
        font-size: clamp(1rem, 1vw, 1.6rem);
        background-color: aliceblue;
        color: black;
    }

}

@media screen and (min-height: 864px) {

    .sobre-nos-title {
        font-size: clamp(1.4rem, 3vw, 3.8rem);
    }

    .sobre-nos-container {
        gap: 4rem;
        font-size: clamp(1.1rem, 2.5vw, 3rem);
    }

    .sobre-nos-links a {
        font-size: clamp(1rem, 2vw, 2.4rem);
        padding: 2rem;
    }
}

@media screen and (min-height: 961px) {
    .sobre-nos-title {
        font-size: clamp(1.4rem, 3vw, 4.4rem);
    }

    .sobre-nos-container {
        gap: 5rem;
        font-size: clamp(1.1rem, 2.5vw, 3.6rem);
    }

}