@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: 'Montserrat';
    font-size: 62.5%;
}

html, body {
    margin: 0;   
}

html {
    scroll-behavior: smooth;

    display: flex;
    flex-flow: column;
    align-items: center;
}

body {
    width: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
}

.nav-closer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.section-title {
    font-size: clamp(1.4rem, 2vw, 2.4rem);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.abra-sua-conta a,
.acesse-sua-conta a {

    display: inline-block;

    font-size: 1rem;
    text-decoration: none;

    color: aliceblue;
    background-color: #23304b;
    box-shadow: 0 0 3rem #5575b9;

    padding: .8rem;
    border-radius: .3rem;

    transition: box-shadow ease .3s, transform ease .3s;
}

.abra-sua-conta a:hover,
.acesse-sua-conta a:hover {
    box-shadow: 0 0 .6rem #87adfd;
    transform: scale(1.1);
}

@media screen and (min-width: 1279px) {
    
    .nav-closer {
        display: none;
    }

    .abra-sua-conta a,
    .acesse-sua-conta a {

        display: inline-block;

        font-size: clamp(.8rem, 2vw, 1.6rem);
        text-decoration: none;

        color: aliceblue;
        background-color: #23304b;
        box-shadow: 0 0 3rem #5575b9;

        padding: 2rem;
        border-radius: .3rem;

        transition: box-shadow ease .3s, transform ease .3s;
    }

    .abra-sua-conta a:hover,
    .acesse-sua-conta a:hover {
        box-shadow: 0 0 .6rem #87adfd;
        transform: scale(1.1);
    }

}